.wave-deep {
  background: repeat-x center url("../../img/wave.png");
}

.wave-cta {
  background: repeat-x center url("../../img/wave-cta.png");
  min-height: 350px;
}

.profile-showcase {
  background: repeat-x center url("../../img/wave.png");
  height: 215px;
}

.product-showcase-modal {
  background-color: rgba(0, 0, 0, 0.8);
}
