.maxw {
  &-450 {
    max-width: 450px;
  }
  &-650 {
    max-width: 650px;
  }
}

.product-showcase {
  height: 130px;
}

.product-showcase-wrapper {
  max-height: 165px;
}

.image-gallery {
  max-width: 300px;
}
