@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./components/headings";
@import "./components/hover";
@import "./components/icons";
@import "./components/sizing";
@import "./components/background.scss";
@import "./components/fonts.scss";

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.number-of {
  opacity: 0.7;
  border-top-right-radius: 10px;

  &-media {
    border-top-left-radius: 10px;
  }
}
