@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./components/headings";
@import "./components/hover";
@import "./components/icons";

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wave-deep {
  background: repeat center url("/img/wave.png");
}

.wave-cta {
  background: repeat center url("/img/wave-cta.png");
  min-height: 350px;
}

.product-showcase {
  background: no-repeat center url("/img/product.png");
  height: 130px;
}

.profile-showcase {
  background: no-repeat center url("/img/wave.png");
  height: 215px;
}

.number-of {
  opacity: 0.7;
  border-top-right-radius: 10px;

  &-media {
    border-top-left-radius: 10px;
  }
}

.number-of-days-left {
  font-size: 0.8rem;
}

.maxw {
  max-width: 100%;

  &-450 {
    max-width: 450px;
  }
  &-650 {
    max-width: 650px;
  }
  &-750 {
    max-width: 750px;
  }
}

.maxh {
  max-height: 100%;
}

.minh-100 {
  min-height: 100vh;
}

* {
  font-family: Trebuchet MS, Tahoma, sans-serif;
}
h1,
h2,
footer h4 {
  font-family: Consolas, monaco, monospace;
}
nav {
  font-family: Verdana, Geneva, sans-serif;
}
